<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Job Input Form</title>

    <!-- Link to the bootstrap stylesheet:  insert this just before the </head> tag  (this version fits on a page) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- END Link to the bootstrap stylesheet -->

</head>
<style>
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
}

.marginAll {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

.alignLabel {
    display:inline-block;
    width:200px;
}
</style>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Jobs-<span style="font-size:30px">&#x1D19;</span>-Us</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">List Jobs</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/add">Add Jobs<span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <div th:replace="base :: userSearchNavBtn"></div>

            <div th:replace="base :: titleSearchNavBtn"></div>

        </div>
    </nav>
    <div class="container">
        <div th:replace="base :: header"></div>
        <h2>Job Input Form</h2>
        <br />
        <form th:action="@{/procjob}" th:object="${job}" method="post">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{postedDate}" />
            <div class="row">
                <div class="col-md-3"><b>Title:</b></div>
                <div class="col-md-9"><input type="text" placeholder="Title" th:field="*{title}" /></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3"><b>Author:</b></div>
                <div class="col-md-9"><input type="text" placeholder="Author" th:field="*{author}" /></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3"><b>Phone:</b> <i>(123-456-7890)</i></div>
                <div class="col-md-9"><input type="text" placeholder="Phone" th:field="*{phone}" /></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3"><b>Posted Date and Time:</b></div>
                <div class="col-md-9"><input type="datetime-local" th:field="*{postedDate}" name="postedDate" /></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3"><b>Description:</b></div>
                <div class="col-md-9"><textarea rows="3" cols="50" plactholder="description" th:field="*{description}"></textarea></div>
            </div>

            <!--
            <div class="alignLabel"><b>Title:</b></div> <input type="text" placeholder="Title" th:field="*{title}" /><br />
            <div class="alignLabel"><b>Author:</b></div> <input type="text" placeholder="Author" th:field="*{author}" /><br />
            <div class="alignLabel"><b>Phone:</b> <i>(123-456-7890)</i></div> <input type="text" placeholder="Phone" th:field="*{phone}" /><br />
            <div class="alignLabel"><b>Posted Date and Time:</b></div> <input type="datetime-local" th:field="*{postedDate}" name="postedDate" /><br />
            <div class="alignLabel"><b>Description:</b></div> <textarea rows="3" cols="50" plactholder="description" th:field="*{description}"></textarea><br />
            -->
            <br /><br />

            <input type="submit" onclick="alerts()" value="Submit">
        </form>
        <hr>
        <div th:replace="base :: footer"></div>
    </div>

<!--^    +    ^    +    ^    +    ^    +    ^    +    ^    +    ^    +    ^    +    ^    +    ^    +    ^    +  -->
    <!-- JS code: insert this just before the </body> tag -->
    <div th:replace="base :: jsFooter"></div>

</body>
</html>